<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="#">WebSiteName</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
       <% if !user_signed_in? %>
         <%= link_to '<i class="glyphicon glyphicon-log-in"></i> Login'.html_safe, new_user_session_path, class: 'btn btn-default' %>
       <% else %>
         <li><span class="navbar-text"><%= current_user.email %></span></li>
         <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
       <% end %>
    </ul>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Etags</th>
      <th>Content</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.etags %></td>
        <td><%= note.content %></td>
        <td><%= note.status %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Delete', inactive_note_path(note), data: { confirm: 'You can anytime recover notes from trash' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
