<!--Panel-->
<div class="card text-center holder">
    <div class="card-header">
        <!--Tabs-->
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item item1">
            	<%= link_to 'Edit', edit_note_path(@note), class: 'nav-link active' %>
            </li>
            <li class="nav-item item1">
                <%= link_to 'Back', notes_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item item1">
                <a class="nav-link disabled" href="#">Delete</a>
            </li>
        </ul>
        <!--/.Tabs-->
    </div>
    <div class="card-body">
        <h3 class="card-title"><%= @note.title %></h3>
        <p class="card-text grey-text">
            <% if @note.etags.present? %>
              <% @note.etags.each do|tag| %>
               <%= tag+"," %>
              <% end %>
            <% end %>
         </p>
        <p class="card-text"><%= @note.content %></p>
        
    </div>
</div>