<div class="text-center heading">
  <span><%= link_to 'Back', notes_path, class: 'btn btn-blue-grey' %></span>
  <span><h1>Trash</h1></span>
</div>
  <div class="row">
    <% @notes.each do |note| %>
       
        <div class="card card-cascade wider col-md-3">
        <!-- Card content -->
          <div class="card-body text-center">

            <!-- Title -->
            <h3 class="card-title"><%= note.title %></h3>
            <p class="card-text grey-text">
              <% if note.etags.present? %>
                <% note.etags.each do|tag| %>
                  <%= tag+"," %>
                <% end %>
              <% end %>
            </p>
            <!-- Text -->
            <p class="card-text"><%= note.content %></p>
            </div>
            <!-- Button -->
              <div class="actions">
              <%= link_to 'Show', note, class: "btn btn-primary" %>
              <%= link_to 'Restore', restore_note_path(note) , class: "btn btn-default"%></td>
              <%= link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'This will delete this Note permanently' } , class: "btn btn-danger" %>
              </div>
           
        </div>
    <% end %>
      </div>
<br>

